<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
Words template
</br>

<table>
    <tr>
        <th>Id</th>
        <th>Word</th>
        <th>Part Of Speech</th>
        <th>Pronunciation</th>
    </tr>
    <tr th:each="word : ${words}">
        <td th:text="${word.id}"/>
        <td th:text="${word.word}"/>
        <td th:text="${word.partOfSpeech}"/>
        <td th:text="${word.pronunciation}"/>
    </tr>
</table>

</body>
</html>